@font-face{
  font-family: 'Roboto-regular';
  src: url('/fonts/roboto/Roboto-Regular.ttf');

}
@font-face{
  font-family: 'Roboto-thin';
  src: url('/fonts/roboto/Roboto-Thin.ttf');
}
@font-face{
  font-family: 'Roboto-light';
  src: url('/fonts/roboto/Roboto-Light.ttf');
} 
@font-face{
  font-family: 'Roboto-bolditalic';
  src: url('/fonts/roboto/Roboto-BoldItalic.ttf');
}
@font-face{
  font-family: 'Roboto-bold';
  src: url('/fonts/roboto/Roboto-Bold.ttf');
} 
.fnt-r{
  font-family: 'Roboto-regular';
}
.fnt-t{
  font-family: 'Roboto-thin';
} 
.fnt-n{
  font-family:"Roboto-light",Helvetica,Arial,sans-serif;
}
.fnt-b{
  font-family:"Roboto-bold",Helvetica,Arial,sans-serif;
}
.fnt-bi{
  font-family:"Roboto-bolditalic",Helvetica,Arial,sans-serif;
}
.fnt-12
{
	font-size: 12pt;
}
.bg-gr{
	background-color: #f5f5f5;
}
.bg-w{
	background-color: #FFFFFF;
}
.bg-g{
	background-color: #2ecc71;
}
.bg-r{
	background-color: #e74c3c;
}
.bg-y{
	background-color: #f1c40f;
}
.bg-t{
	background-color: #1abc9c;
}
.bg-o{
	background-color: #f39c12;
}
.bg-c{
	background-color: #ecf0f1;
}
.bg-bh
{
	background-color: #2980b9;
}
.fc-w{
	color: #ecf0f1;
}
.fc-gs{
	color: #16a085;
}
.margin-x
{
	margin: 40px;
}
.margin-top-x{
	margin-top: 30px;
}
.margin-top-m{
	margin-top: 20px;
}
.margin-top-s{
	margin-top: 15px;
}
.margin-bottom-x
{
	margin-bottom: 30px;
}
.nomargin{
	margin: 0;
}
.nopadding{
	padding: 0;
}
.padding-xx{
	padding: 40px;
}
.padding-x{
	padding: 20px;
}
.padding-m{
	padding: 15px;
}
.padding-top-m{
	padding-top:15px;
}
.padding-top-x{
	padding-top:20px;
}
.padding-top-s{
	padding-top:1px;
}			
.padding-title{
	padding: 20px 0px 10px 30px;
}
.fnt-s-m
{
	font-size: 13pt;
}
.fnt-s-x
{
	font-size: 22pt;
}
.width-x
{
	width: 700px;
}
.height-m
{
	height: 370px;
}
.progress-new
{
	line-height: 12px;
        font-size: 7px;
}
.noborder
{
	border-radius: 0px;
}
.welcome
{
	padding: 45px;
	padding-top: 6%;
	padding-left: 60px;
}
.welcome-header
{
	font-size: 56px;
}
.welcome-text
{
	height: 53%;
	padding-top: 14px;
	font-size: 13pt;
}
.welcome-button
{

}
.questions
{
	padding: 45px;
	padding-top: 10%;
	padding-left: 60px;
}

.final-thanks
{
	margin-bottom: 50px;
	font-size: 48pt;
}
.result
{
	padding: 5% 10%;
}
.result-border
{
	border: 8px dotted;
	border-radius: 20px;
}
.result-text
{
	margin-bottom: 15px;
	font-size: 36px;
}
.result-speed
{
	font-size: 102pt;
}
.sorry
{
	border: 8px solid;
	border-radius: 20px;	
}
.sorry-pencil
{
	font-size: 42pt;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    z-index: 10;
    opacity: 1;
}

#page-preloader .spinner {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 25%;
    background: url('/img/Preloader_8.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}